*{
    margin: 0px;
    
}

    /* textdecoration */
a{
    text-decoration: none;
    color: black;
}
.linkdecoration {
    text-decoration: underline;
    color: blue;
}


                        /* index.Html */
#gridwrapper {
    display: grid;
    width: 100%;
    height: 340vh;
    grid-gap: 4px;

    grid-template-areas: 
    "he he na h1 h1"
    "se se se se se"
    "as as as as as"
    "ae ae ae ae ae"
    "fo fo fo fo fo";

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 90px 700px 50px 1800px 200px
}
                                /* Headers and jv-burger */
.header {

    grid-area: he;
    background-color: white;
    border-bottom: whitesmoke solid 3px;
    background-position: center;
    background-image: url(../img/Bjornarnas_arbetarparti_logga.png);
    background-size: 10%;
    background-repeat: no-repeat;

    
}

.header_h3 {
    text-align: center;
    width: 130%;
    margin: 30px;
}

.header1 {

    grid-area: h1;
    background-color: white;
    border-bottom: whitesmoke solid 3px;
}

.nav {
    background-color: white;
    grid-area: na;
    border-bottom: whitesmoke solid 3px;
}
                                        /* Slogan */
.section {

    width: 100%;
    height: 100%;
    margin: auto;

    grid-area: se;
    background-color: black;
    background-image: url(../img/Projekt_21_slogan.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

}
                                        /* gapfiller */
.aside {
    border-top: grey solid 4px;
    border-bottom: grey solid 4px;
    grid-area: as;

}
                            /* Information/wallframe (grid) */
#gridarticle {

    height: 100%;
    width: 100%;
    grid-area: ae;
    background-image: url(../img/Background_projekt_21.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "hr hr"
    "a1 a2"
    "a3 a4";
}

.innerheader {
    grid-area: hr;
    font-size: 140%;
    text-align: left;
    text-decoration: center;
}

.innerarticle_1 {
    grid-area: a1;
    color: white;
    margin: auto;
    border: white solid 7px;
    border-radius: 20px;
    width: 70%;
    height: auto;   
}
.innerarticle_2 {
    grid-area: a2;
    color: white;
    margin: auto;
    border: white solid 7px;
    border-radius: 20px;
    width: 70%;
    height: auto; 
}
.innerarticle_3 {
    grid-area: a3;
    color: white;
    margin: auto;
    border: white solid 7px;
    border-radius: 20px;
    width: 70%;
    height: auto;
}
.innerarticle_4 {
    grid-area: a4;
    color: white;
    margin: auto;
    border: white solid 7px;
    border-radius: 20px;
    width: 70%;
    height: auto; 
}

.hdrh1 {
    color: white;
    text-align: right;
    margin: 10%;

}
.arth1 {
    text-align: center;
    margin: 4px;
}

.paragraph {
    margin: 5%;
}

            /* support, contactinformation (footer) */
#gridfooter {
    background-color: white;
    grid-area: fo;
    border-top: black solid 3px;
    margin: auto;
    display: grid;
    height: 70%;
    width: 80%;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "f1 f2 f3  . . .";
}

.innerfooter1 {
    
    margin: 10%;
    grid-area: f1;
}
.innerfooter2 {

    margin: 10%;
    grid-area: f2;
}

.innerfooter3 {

    margin: 10%;
    grid-area: f3;
}

            /* jv-script burger */

.nav-links {

    background-color: white;
    position: fixed;
    top: 0;
    left: 100%;
    width: 50vw;
    height: 100vh;
    z-index: 9;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 150%;
    grid-gap: 40px;

    transition-duration: 1s;
}

.nav-links_show {
    left: 50%;
}

#hamburger {
    z-index: 10;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-gap: 8px;
    height: 80px;
    width: 80px;

    transition-duration: 1s;
}
#hamburger > div {

    height: 3px;
    width: 45px;
    background-color: black;
}

.exet > .design_hamburger1{
    transform: rotate(45deg) translate(1px,1px);
}
.exet > .design_hamburger2{
    transform: rotateZ(-45deg) translate(6px,-8px);
}
.exet > .design_hamburger3{
    display: none;
}
.exet {
    position: absolute;
}
            /* perspective of mobile (POV) */
@media screen and (max-width:800px) {

#gridwrapper {
    grid-template-areas: 
    "he he na h1 h1"
    "se se se se se"
    "as as as as as"
    "ae ae ae ae ae"
    "fo fo fo fo fo";

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 90px 400px 50px auto 10px
}

.header {

    grid-area: he;
    background-color: white;
    border-bottom: whitesmoke solid 3px;
    background-position: left;
    background-image: url(../img/Bjornarnas_arbetarparti_logga.png);
    background-size: 10%;
    background-repeat: no-repeat;

    
}

#gridfooter {
    background-color: white;
    grid-area: fo;
    border-top: black solid 3px;
    margin: auto;
    display: grid;
    height: 70%;
    width: 80%;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "f1 f2 f3";

}

}
            /* End of index.html */










            
            /* Omoss.html */


#gridwrapper_omoss {

    display: grid;
    width: 100%;
    height: 150vh;
    grid-gap: 6px;

    grid-template-areas: 
    "he he na h1 h1"
    "s1 s1 s1 s1 s1"
    "ho ho ho ho ho"
    "s2 s2 s2 ro ro"
    "fo fo fo fo fo";

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 90px 500px 400px 300px;
}

                        /* Headers and jv-burger */
.header {

    grid-area: he;
    background-color: white;
    border-bottom: whitesmoke solid 3px;
    background-position: center;
    background-image: url(../img/Bjornarnas_arbetarparti_logga.png);
    background-size: 10%;
    background-repeat: no-repeat;

    
}

.header_h3 {
    text-align: center;
    width: 130%;
    margin: 30px;
}

.header1 {

    grid-area: h1;
    background-color: white;
    border-bottom: whitesmoke solid 3px;
}

.nav {
    background-color: white;
    grid-area: na;
    border-bottom: whitesmoke solid 3px;
}

                        /* img / information */

.aside_omoss {
    grid-area: s1;
    background-image: url(../img/björn_img.png);
    background-repeat: repeat;
    background-position: center;
    background-size: 50%;
}

.header_omoss {
    grid-area: ho;
    background-color: whitesmoke;
    text-align: center;
    border: grey solid 6px;
}

.scndaside_omoss {
    grid-area: s2;
    background-color: white;
    background-image: url(../img/Background_projekt_21.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
}

.article_omoss {
    grid-area: ao;
    background-color: yellow;
}

.footer_omoss {
    grid-area: ro;
    background-color: white;
    color: black;
    border: black solid 4px;
    border-radius: 20px;
}

.foh1 {
    margin: 4%;
}

#gridfooter {
    background-color: white;
    grid-area: fo;
    border-top: black solid 3px;
    margin: auto;
    display: grid;
    height: 70%;
    width: 80%;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "f1 f2 f3  em em em";
}

.innerfooter1 {
    
    margin: 10%;
    grid-area: f1;
}
.innerfooter2 {

    margin: 10%;
    grid-area: f2;
}

.innerfooter3 {

    margin: 10%;
    grid-area: f3;
}

                /* perspective of mobile (POV) */

@media screen and (max-width:800px) {

    #gridwrapper_omoss {

        display: grid;
        width: 100%;
        height: 150vh;
        grid-gap: 6px;
    
        grid-template-areas: 
        "he he na h1 h1"
        "s1 s1 s1 s1 s1"
        "ho ho ho ho ho"
        "s2 s2 s2 ro ro"
        "fo fo fo fo fo";
    
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 90px 500px auto auto;
    }

    .footer_omoss {
        grid-area: ro;
        background-color: white;
        color: black;
        border: black solid 4px;
        border-radius: 20px;
    }
    
}

/* End of omoss.html */






/* butik.html */

#gridwrapper_butik {

    display: grid;
    width: 100%;
    height: 170vh;
    grid-gap: 6px;

    grid-template-areas: 
    "he he na h1 h1"
    "em hm hm hm e1"
    "em pl pl pl e1"
    "em p1 p1 p1 e1"
    "fo fo fo fo fo";

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 90px 200px 700px 300px ;
}

.header {

    grid-area: he;
    background-color: white;
    border-bottom: whitesmoke solid 3px;
    background-position: center;
    background-image: url(../img/Bjornarnas_arbetarparti_logga.png);
    background-size: 10%;
    background-repeat: no-repeat;

    
}

                /* header and jv-script */

.header_h3 {
    text-align: center;
    width: 130%;
    margin: 30px;
}

.header1 {

    grid-area: h1;
    background-color: white;
    border-bottom: whitesmoke solid 3px;
}

.nav {
    background-color: white;
    grid-area: na;
    border-bottom: whitesmoke solid 3px;
}



                /* Product lists */

#product_list {

    background-color: whitesmoke;

    grid-area: pl;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "p1 p2"
    "p3 p4";
}

.product1 {
    grid-area: p1;
    background-image: url(../img/blue_shirt.png);
    background-position: center;
    background-size: 250%;
}

.product2 {
    grid-area: p2;
    background-image: url(../img/red_shirt.png);
    background-position: center;
    background-size: 250%;
}

.product3 {
    grid-area: p3;
    background-image: url(../img/white_shirt.png);
    background-position: center;
    background-size: 250%;
}

.product4 {
    grid-area: p4;
    background-image: url(../img/yellow_shirt.png);
    background-position: center;
    background-size: 250%;
}

        /* addvertisment and fillups */

.scndproduct_list {

    grid-area: p1;
    background-image: url(../img/Background_projekt_21.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    border: brown solid 4px;
}

.empty {

    background-color: white;
    grid-area: em;
}

.empty {

    background-color: white;
    grid-area: e1;
}

            /* Support */

#gridfooter {
    background-color: white;
    grid-area: fo;
    border-top: black solid 3px;
    margin: auto;
    display: grid;
    height: 70%;
    width: 80%;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "f1 f2 f3  em em em";
}

.innerfooter1 {
    
    margin: 10%;
    grid-area: f1;
}
.innerfooter2 {

    margin: 10%;
    grid-area: f2;
}

.innerfooter3 {

    margin: 10%;
    grid-area: f3;
}

                /* perspective of mobile (POV) */

@media screen and (max-width:800px) {

    .header_butik {

        background-color: yellow;
        grid-area: hm;
        background-image: url(../img/reklam_projekt_21.png);
        background-position: center;
        background-repeat: repeat;
        border: brown solid 4px;
    }

}

                    /* End of butik.html */



                    /* partiledare.html */

#gridwrapper_partiledare {

    display: grid;
    width: 100%;
    height: 170vh;
    grid-gap: 6px;

    grid-template-areas: 
    "he he na h1 h1"
    "pp pp pp pp pp"
    "t1 t2 t3 t4 t5"
    "av av av av av"
    "fo fo fo fo fo";

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 90px 800px 400px 170px ;
}

                /* header and jv-script */
.header_h3 {
    text-align: center;
    width: 130%;
    margin: 30px;
}

.header1 {

    grid-area: h1;
    background-color: white;
    border-bottom: whitesmoke solid 3px;
}

.nav {
    background-color: white;
    grid-area: na;
    border-bottom: whitesmoke solid 3px;
}


/* picture */
.picture_partiledare {
    grid-area: pp;
    background-color: grey;
    background-image: url(../img/Björnbild_jpg.jpg);
    width: 100%;
    height: 100%;
    background-size:80%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Text and paragraph */

.article1 {
    background-color: skyblue;
    grid-area: t1;
}
.article2 {
    background-color: lightpink;
    grid-area: t2;
}
.article3 {
    background: lightsalmon;
    grid-area: t3;
}
.article4 {
    background-color: salmon;
    grid-area: t4;
}

.article5 {
    background-color: lightgoldenrodyellow;
    grid-area: t5;
}

/* addvertisment and support */
.addvertisment {
    grid-area: av;
    background-color: darkgrey;
    background-image: url(../img/reklam_projekt_21.png);
    background-position: center;
}

#gridfooter {
    background-color: white;
    grid-area: fo;
    border-top: black solid 3px;
    margin: auto;
    display: grid;
    height: 70%;
    width: 80%;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "f1 f2 f3  em em em";
}

.innerfooter1 {
    
    margin: 10%;
    grid-area: f1;
}
.innerfooter2 {

    margin: 10%;
    grid-area: f2;
}

.innerfooter3 {

    margin: 10%;
    grid-area: f3;
}

                /* perspective of mobile (POV) */

@media screen and (max-width:800px) {

    #gridwrapper_partiledare {

        display: grid;
        width: 100%;
        height: 170vh;
        grid-gap: 6px;
    
        grid-template-areas: 
        "he he na h1 h1"
        "pp pp pp pp pp"
        "t1 t2 t3 t4 t5"
        "av av av av av"
        "fo fo fo fo fo";
    
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 90px 500px auto 170px ;
    }

}

                /* End of partiledare.html */



                    /* Support.html */

#gridwrapper_support {

    display: grid;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;

    grid-template-areas: 
    "he he na h1 h1"
    "hs hs hs hs hs"
    "at at at at at"
    "st st st st st"
    "tt tt tt tt tt"
    "fo fo fo fo fo";

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 90px 100px 100px 100px 500px;
}

                /* header and jv-script */

.header {

    grid-area: he;
    background-color: white;
    border-bottom: whitesmoke solid 3px;
    background-position: center;
    background-image: url(../img/Bjornarnas_arbetarparti_logga.png);
    background-size: 10%;
    background-repeat: no-repeat;

    
}

.header_h3 {
    text-align: center;
    width: 130%;
    margin: 30px;
}

.header1 {

    grid-area: h1;
    background-color: white;
    border-bottom: whitesmoke solid 3px;
}

.nav {
    background-color: white;
    grid-area: na;
    border-bottom: whitesmoke solid 3px;
}


                /* Information and customerservice */
.header_support {
    grid-area: hs;
    margin: 10px;
    text-align: left;
    border-bottom: black solid 3px;
}

.article_support {
    grid-area: at;
    margin: 20px;
}

.scndarticle_support {
    grid-area: st;
    margin: 20px;
}

.thrdarticle_support {
    grid-area: tt;
    margin: 20px;
}

                /* teleporter and information */

#gridfooter {
    background-color: white;
    grid-area: fo;
    border-top: black solid 3px;
    margin: auto;
    display: grid;
    height: 90%;
    width: 80%;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "f1 f2 f3 em em em";
}

.innerfooter1 {
    
    margin: 10%;
    grid-area: f1;
}
.innerfooter2 {

    margin: 10%;
    grid-area: f2;
}

.innerfooter3 {

    margin: 10%;
    grid-area: f3;
}

            /* End of support.html */