*{
    margin: 0px;
    box-sizing: border-box;
    
}

#gridwrapper {
    display: grid;
    width: 100%;
    height: 340vh;
    grid-gap: 4px;

    grid-template-areas: 
    "he he na h1 h1"
    "se se se se se"
    "as as as as as"
    "ae ae ae ae ae"
    "fo fo fo fo fo";

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 80px 900px  100px 1800px 120px
}

.header {

    grid-area: he;
    background-color: white;
}

.header1 {

    grid-area: h1;
    background-color: white;
}

.nav {
    background-color: white;
    grid-area: na;
}

.section {

    width: 80%;
    height: 100%;
    margin: auto;

    grid-area: se;
    background-color: black;
    background-image: url("../img/mark-basarab-y421kXlUOQk-unsplash.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

}

.aside {

    text-align: center;
    grid-area: as;
    height: 90%;
    width: 80%;
    margin: auto;
    background-color: white;
    border: grey solid 3px;
    border-radius: 20px;
}

.article {

    height: 100%;
    width: 100%;
    grid-area: ae;
    background-image: url(../img/federico-bottos-Z3NceSeZqgI-unsplash.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.gridfooter {
    background-color: white;
    grid-area: fo;
    border-top: black solid 3px;
    margin: auto;

    width: 80%;
}




.nav-links {

    transition-duration: 1s;
}

.burger {

    transition-duration: 1s;
}
